TYECASTING

In [ ]:
# typecasting example 1

a = 12
b = "23"
d = 223

print(a)
print(type(a))

print(b)
print(type(b))

# convert b to an integer
c = int(b)
print(c)
print(type(c))

print(d)
print(type(d))

# convet d to an float
e = float(d)
print(e)
print(type(e))

12
<class 'int'>
23
<class 'str'>
23
<class 'int'>
223
<class 'int'>
223.0
<class 'float'>

In [ ]:
# Typecasting example 2

# convert string to integer
num_str = "10"
num_int = int(num_str)
print(num_int)

# convert int to string
num_int = 45
num_str = str(num_int)
print(num_str)

# convert float to int
pi = 3.14
pi_int = int(pi)
print(pi_int)

10
45
3

USER INPUT IN PYTHON

In [ ]:
a = input()
print(a)

b = input()
print(b)


a = input("Enter a number:")
print(a)

b = input("Enter a name:")
print(b)

c = int(a) + int(b)
print(c)


a = input("Enter a number:")
a = int(a)
print (a + 3)


a = input("Enter a number:")
a = int(a)

b = input("Enter a number:")
b = int(b)

c = print (a+b)

a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = print (a+b)

45
45
55
55
Enter a number:25
25
Enter a name:Gauravraj
Gauravraj
Enter a number:45
45
Enter a number:23
23
68
Enter a number:25
28
Enter a number:15
Enter a number:20
35
Enter a number:13
Enter a number:021
34

 Comments_prints_Esc

In [ ]:
print ("Hey how  are you")
# single line comment

# hey kunal finish the code

# hey Manish review the code


# Multi line comment
'''
You said:
Which came first egg or the hen
'''

Hey how  are you

'\nYou said:\nWhich came first egg or the hen\n'

Escape sequence characters

In [ ]:
print("hello how are you\ni am good")
print("hello how are you\ni am good\\new line")
print("Hello \" world")

print("Hello\nworld!")
print("this is a tab\tcharacter")

hello how are you
i am good
hello how are you
i am good\new line
Hello " world
Hello
world!
this is a tab	character

print statement

In [ ]:
print ('hello world', "Gaurav" ,  5 ,  sep =",")

print("hello world", end= ",")
print('gaurav', end="++")

hello world,Gaurav,5
hello world,gaurav++

OPERATORS IN PYTHON

In [ ]:
# 1.Arithmetic operators

a = 45
b = 55
c = True
d = False

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a % b = ", a % b)
print("a // b = ",a // b)
print("a ** b = ",a ** b)



# 2. Conditional operators

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a==45)
print(a!=45)
print(a!=b)


# Logical operators

#(for and operator)
print(c and c)
print(c and d)
print(d and d)
print(d and c)


#(for or operator)
print(c or c)
print(c or d)
print(d or d)
print(d or c)

#(for not operator)
print(not(c))
print(not(d))


# Assignment operators

a = 45
b = 55

a+=3
print(a)

a-=3
print(a)

a*=3
print(a)

a + b =  100
a - b =  -10
a * b =  2475
a / b =  0.8181818181818182
a % b =  45
a // b =  0
a ** b =  8446723104767055758205216778747351372643377994297322619576817714914795942604541778564453125
False
True
False
True
False
True
False
True
True
False
False
False
True
True
False
True
False
True
48
45
135