For loops in **python**

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

for z in range(1, 6): # range function goes from 1 to (6-1) = 5 in this case
  print(z)

for z in range(1, 11):
  print("7 x", z, "=", 7*z)

for i in range (1, 11):
  print("11 x", i, "=" , 11*i)

1
2
3
4
5
1
2
3
4
5
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [ ]:
#  1. Print numbers from 1 to 10

for i in range (1, 11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#  2. Print even numbers from 1 to 50


for i in range (1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# Print the multiplication table of a number

num = int(input("Enter a number :"))
for i in range (1, 11):
  print (num, "x", i,"=", num*i)

Enter a number :12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
#  4. Print the sum of first 10 natural numbers
# ‚û°Ô∏è Output should be 55

total = 0
for i in range (1, 11):
  total = total + i
print("sum is :", total)

sum is : 55

In [ ]:
# üîπ 5. Count vowels in a string
# Input: "hello world"
# Output: 3

text = input("Enter a string :")
count = 0
for char in text.lower():
  if char in 'a,e,i,o,u':
    count += 1
print("number of vowels:", count)

Enter a string :hello world
number of vowels: 3

In [ ]:
#  6. Print each character of a word on a new line
# Input: "Python"

text = input("Enter a string :")

for char in text:
  print(char)

Enter a string :Python
P
y
t
h
o
n

In [ ]:
# 7. Print factorial of a number using for loop
# Input: 5
# Output: 120 (since 5! = 5√ó4√ó3√ó2√ó1)

num = int(input("Enter a number :"))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

Enter a number :5
Factorial of 5 is 120