Break Statement

In [ ]:
for i in range (0,20):
  print(i)
  if i == 15:
    break

for i in range (1,10):
  print(i)
  if i == 4:
      break

1
2
3
4

Continue Statement

In [ ]:
for i in range (1,10):
  print(i)
  if i == 8:
    continue

1
2
3
4
5
6
7
8
9

Pass Statement

In [ ]:
if i in range(0,1000):
 if i == 99:
  pass
print("End of program")

End of program

In [ ]:
for i in range(1, 11):  # Complete the range
    print("56 x " + str(i) + " = " + str(56 *i))

56 x 1 = 56
56 x 2 = 112
56 x 3 = 168
56 x 4 = 224
56 x 5 = 280
56 x 6 = 336
56 x 7 = 392
56 x 8 = 448
56 x 9 = 504
56 x 10 = 560